{% extends "AryaFedrik/base.html" %}
{% block body_block %}
<!-- Hover #1 -->
<div class="box-1">
  <div class="btn btn-one link">
    <span>What's App</span><br><br>
    <a class="link" href="https://api.whatsapp.com/send?phone=6287786484513">Click Me!</a>
  </div>
</div>

<!-- Hover #2 -->
<div class="box-2">
  <div class="btn btn-one">
    <span><a class="link" href="#">LinkedIn</a></span><br><br>
    <a class="link" href="https://www.linkedin.com/in/arya-fedrik/">Click Me!</a>
  </div>
</div>

<!-- Hover #3 -->
<div class="box-3">
  <div class="btn btn-one">
    <span><a class="link" href="#">Facebook</a></span><br><br>
    <a class="link" href="https://www.facebook.com/fedrikarya/">Click Me!</a>
  </div>
</div>
<div class="box-4">
  <div class="btn btn-one">
    <span><a class="link" href="#">Gmail</a></span><br><br>
    <a class="link" href="https://mail.google.com/mail/?view=cm&fs=1&to=fedrikarya24@gmail.com">Click Me!</a>
  </div>
</div>
{% endblock %}
